@import "reset";
@import "bourbon/bourbon";
$modular-scale-ratio: $golden;
$modular-scale-base: 16px;

* {
	@include box-sizing(border-box);
}
// Structure
.container{
	max-width:600px;
	margin:auto;
}
article, pre, p, nav, .container,ul{
	margin-bottom:modular-scale(0);
}
.row{
	li,div{
		display:inline-block;
	}		
}
.bukan {
	visibility:hidden;
}
// Content
body {
	font-family:sans-serif;
	font-size:modular-scale(0);
	line-height:modular-scale(1);
}	
h1 { 
	font-size:modular-scale(2);
	line-height:modular-scale(3);
}
h2{
	font-size:modular-scale(1);
	line-height:modular-scale(2);
}
h3{
	font-size:modular-scale(1);
	line-height:modular-scale(2);
	font-weight:300;
}
strong, h4{
	font-weight:700;
}
.skills_list{
	font-weight:300;
}
// Decorate lists but not structural lists following headers 
ul{
	list-style-type:disc;
}
h2 + ul, h3 + ul{
	list-style-type:none;
}
// Links
.external{
	color: #969696;
}
