<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
    Remove this if you use the .htaccess -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Ashley Arthur</title>
    <meta name="description" content="" />
    <meta name="author" content="Ashley Arthur" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="./style/main.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,700,400' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <article>
        <h1>Ashley Arthur</h1>
        {{article_content}}
      </article>
    </div>

    <div class="container">
    <h3> Contact </h3>
    <ul>
    <li><a href="mailto:ashleyarthur30@yahoo.co.uk">Email</a></li>
    <li><a href="https://uk.linkedin.com/in/ashley-arthur-4a918635">LinkedIn</a></li>
    <li><a href="http://bit.ly/1bPMlVu">CV.doc</a></li>
    </ul>
    </div>
  </body>
</html>
